[submodule "libft-unit-test"]
    path = 00-libft/libft-unit-test
    url = git@github.com:alelievr/libft-unit-test.git

[submodule "libft-war-machine"]
    path = 00-libft/libft-war-machine
    url = git@github.com:0x050f/libft-war-machine.git

[submodule "libftTester"]
    path = 00-libft/libftTester
    url = git@github.com:Tripouille/libftTester.git

[submodule "gnl-station-tester"]
    path = 01-get_next_line/get_next_line/gnl-station-tester
    url = git@github.com:kodpe/gnl-station-tester.git

[submodule "gnlTester"]
    path = 01-get_next_line/get_next_line/gnlTester
    url = git@github.com:Tripouille/gnlTester.git